<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="container-fluid">
	<div class="row bannerList">
		<div class="col-md-offset-1 col-md-10 hidden-xs">
			<ul class="nav nav-tabs nav-justified" >
				<f:for each="{categorias}" as="categoria">

						<f:if condition="{mainCategoria.uid}=={categoria.uid}">
							<f:then>
								<li class="active" >
									<f:link.action action="show" arguments="{categoria : categoria}" >
										<img src="{categoria.altBadge.originalResource.publicUrl}"
											 class=" img-responsive" width=100%
											 data-toggle="tooltip" data-placement="top" title="{categoria.nombreDisplay}">
									</f:link.action>
								</li>
							</f:then>
							<f:else>
								<li>
									<f:link.action action="show" arguments="{categoria : categoria}" >
										<img src="{categoria.badge.originalResource.publicUrl}"
											 class="bannerUnBadgeImg img-responsive" width=100%
											 data-toggle="tooltip" data-placement="top" title="{categoria.nombreDisplay}">
									</f:link.action>
								</li>
							</f:else>
						</f:if>
				</f:for>
			</ul>
			<div class="tab-content">
				<h2>{mainCategoria.nombreDisplay}</h2>
			</div>
		</div>
		<div class="row-fluid visible-xs-block ">

			<div class="col-xs-12">
				<a href="#bannerCategoriasSmall" data-toggle="collapse" class="btnUnal" >
					<f:translate key="tx_estadisticaunal_domain_model_categoria.plural" /> <span  style="font-size: 18px" class="glyphicon glyphicon-triangle-bottom"></span>
				</a>
			</div>
			<div id="bannerCategoriasSmall" class="collapse col-xs-12">

				<ul class="nav nav-pills nav-stacked">
					<f:for each="{categorias}" as="categoria">

						<f:if condition="{mainCategoria.uid}=={categoria.uid}">
							<f:then>
								<li class="active" >
									<f:link.action action="show" arguments="{categoria : categoria}" >
										{categoria.nombreDisplay}
									</f:link.action>
								</li>
							</f:then>
							<f:else>
								<li>
									<f:link.action action="show" arguments="{categoria : categoria}" >
										{categoria.nombreDisplay}
									</f:link.action>
								</li>
							</f:else>
						</f:if>
					</f:for>
				</ul>
			</div>
		</div>
	</div>
</div>
</html>