<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">

<f:flashMessages />
	<div class="container-fluid estadisticasPreview" style="margin-top: 10px">

		<ul class="nav nav-tabs">
			<f:for each="{estadisticas_a_mostrar}" as="estadistica" iteration="iterator">
				<li class="{f:if(condition:'{i.isFirst}',then:'active',else:'')} col-md-3 col-sm-6 col-xs-6">
					<a class="colour-shifter" data-toggle="tab" href="#tab{iterator.index}">
						<div class="row">
							<div class="col-md-12">
								<img src="{estadistica.badge.originalResource.publicUrl}"
								data-altbadge="{estadistica.altBadge.originalResource.publicUrl}"
								data-badge="{estadistica.badge.originalResource.publicUrl}"
								class="unBadgeImg img-responsive" >
							</div>
							<div class="unBadgeData col-md-12">
								<h5><f:format.case mode="upper">{estadistica.nombreDisplay}</f:format.case></h5>
								<h3>{estadistica.total} </h3>
							</div>
						</div>

					</a>
				</li>
			</f:for>

				<li class="col-md-3 col-sm-6 col-xs-6">
					<f:link.typolink class="colour-shifter" parameter="{uri_link_boton_ver_mas}" >
						<div class="row">
							<div class="col-md-12">
								<img src="{uri_badge_ver_mas}" 
									 data-altbadge="{uri_altBadge_ver_mas}" 
									 data-badge="{uri_badge_ver_mas}"
									 class="unBadgeImg img-responsive" >
							</div>
							<div class="unBadgeData col-md-12">
								<h5><f:format.case mode="upper">{texto_boton_ver_mas}</f:format.case></h5>
								<h3>{subtexto_boton_ver_mas} </h3>
							</div>
						</div>

					</f:link.typolink>
				</li>
		</ul>


		<div class="tab-content">
			<f:for each="{estadisticas_a_mostrar}" as="estadistica" iteration="iterator">
				<f:if condition="{iterator.isFirst}">
					<f:then>
						<div id="tab{iterator.index}" class="tab-pane fade in active">
							<div class="row">
								<div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12">
									<h4>{estadistica.descripcion}</h4>
								</div>
							</div>
						</div>
					</f:then>
					<f:else>
						<div id="tab{iterator.index}" class="tab-pane fade ">
							<div class="row">
								<div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12">
									<h4>{estadistica.descripcion}</h4>
								</div>
							</div>
						</div>
					</f:else>
				</f:if>
			</f:for>
		</div>

	</div>

</f:section>
</html>
