<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages />

	<div class="container-fluid">
		<div class="row row-eq-height">
			<f:for each="{categorias}" as="categoria">

				<div class="col-md-3 col-sm-6 col-xs-12 badgeCategoria" >
					<f:link.action class="colour-shifter" action="show" arguments="{categoria : categoria}" >
						<img src="{categoria.badge.originalResource.publicUrl}"
							 data-altbadge="{categoria.altBadge.originalResource.publicUrl}"
							 data-badge="{categoria.badge.originalResource.publicUrl}"
							 class="unBadge img-responsive" width=100%>
						<div class="row">
							<h5>{categoria.nombreDisplay}</h5>
						</div>
					</f:link.action>
				</div>

			</f:for>
		</div>
	</div>

</f:section>
</html>