<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<div class="container-fluid">

	<div class="row">

		<div class="col-md-1 visible-md-block visible-lg-block"></div>

		<f:for each="{estadisticas}" as="estadistica" iteration="iterator">
			<f:if condition="{iterator.index}%5==0 && {iterator.index}>0">
				<f:then>
					<div class="col-md-1 visible-md-block visible-lg-block"></div>
					<div class="clearfix visible-md-block visible-lg-block"> </div>
					<div class="col-md-1 visible-md-block visible-lg-block"></div>
				</f:then>
			</f:if>
			<f:if condition="{iterator.index}%3==0 && {iterator.index}>0">
				<f:then>
					<div class="clearfix visible-sm-block"> </div>
				</f:then>
			</f:if>
			<f:if condition="{iterator.index}%2==0 && {iterator.index}>0">
				<f:then>
					<div class="clearfix visible-xs-block"> </div>
				</f:then>
			</f:if>

			<f:if condition="{estadistica.link}">
			  <f:then>
			    <f:link.typolink parameter="{estadistica.link}" target="_blank" class="col-md-2 col-sm-4 col-xs-6 unBadge estadistica colour-shifter" additionalParams="&u=b" additionalAttributes="{type:'button'}">
					<div class="row ">
						<div class="col-md-12">
							<img src="{estadistica.badge.originalResource.publicUrl}"
								 data-altbadge="{estadistica.altBadge.originalResource.publicUrl}"
								 data-badge="{estadistica.badge.originalResource.publicUrl}"
								 class="unBadgeImg img-responsive" width=100%>
						</div>
						<div class="unBadgeData col-md-12">
							<h5>{estadistica.nombreDisplay}</h5>
						</div>
					</div>
				</f:link.typolink>
			  </f:then>
			  <f:else>
				<f:link.action class="col-md-2 col-sm-4 col-xs-6 unBadge estadistica estadistica-modal colour-shifter" action="modal" arguments="{estadistica: estadistica}" pageType="476" controller="Estadistica" data="{nombre:'{estadistica.nombreDisplay}',url:'{f:uri.action(action: \'protocolo\', arguments: {estadistica:estadistica}, controller: \'Estadistica\', pageUid: pagina_protocolo_pageuid)}'}">
					<div class="row ">
						<div class="col-md-12">
							<img src="{estadistica.badge.originalResource.publicUrl}"
								 data-altbadge="{estadistica.altBadge.originalResource.publicUrl}"
								 data-badge="{estadistica.badge.originalResource.publicUrl}"
								 class="unBadgeImg img-responsive" width=100%>
						</div>
						<div class="unBadgeData col-md-12">
							<h5>{estadistica.nombreDisplay}</h5>
						</div>
					</div>
				</f:link.action>
			  </f:else>
			</f:if>
			
		</f:for>
	</div>
</div>

<!-- Modal -->
<div id="dashboard" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">

		<!-- Modal content-->
		<div class="modal-content unModal-content">


			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
				<img src="/typo3conf/ext/estadistica_unal/Resources/Public/Images/Escudo_unal_2016.png" style="width: 25px;margin-top: -5px;margin-right: 10px;"   	align="left">
				<h3 class="modal-title">

				<span  id="modalTitle"></span>

					<a id="linkDashboardTitle">
						<small>
							<span class="btn mas-button"> 
								<f:translate key="LLL:EXT:estadistica_unal/Resources/Private/Language/locallang.xlf:tx_estadisticaunal_domain_model_estadistica.tooltip_dashboard" />
							</span>	
						</small>
					</a>
				</h3>
			</div>


			<div class="modal-body" id="modalBody">
			</div>

		</div>

	</div>
</div>

</html>
