<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="panel panel-default panel-protocolo">
	<div class="panel-heading"><h4>{estadistica.nombreDisplay}</h4></div>
  	<div class="panel-body">
		<p><f:format.html>{estadistica.textoProtocolo}</f:format.html></p>
		<div class="atributos">
			<ul class="nav nav-pills nav-justified">
				<li class="active">
					<a data-toggle="pill" href="#home">
						<f:translate key="LLL:EXT:estadistica_unal/Resources/Private/Language/locallang_csh_tx_estadisticaunal_domain_model_estadistica.xlf:protocolo.atributos_generales" />
					</a>
				</li>
				<li>
					<a data-toggle="pill" href="#menu1">
						<f:translate key="LLL:EXT:estadistica_unal/Resources/Private/Language/locallang_csh_tx_estadisticaunal_domain_model_estadistica.xlf:protocolo.desagregaciones_tematicas" />
					</a>
				</li>
			</ul>

			<div class="tab-content">
				<div id="home" class="tab-pane fade in active">
					<table class="header-fixed">
					  <col width="10%"> 
					  	<thead>					  		
							<tr>
								<th>
									<f:translate key="LLL:EXT:estadistica_unal/Resources/Private/Language/locallang_csh_tx_estadisticaunal_domain_model_atributo.xlf:atributo.description" />
								</th>
								<th>
									<f:translate key="LLL:EXT:estadistica_unal/Resources/Private/Language/locallang_csh_tx_estadisticaunal_domain_model_atributo.xlf:definicion.description" />
								</th>
							</tr>		
					  	</thead>
					  	<f:for each="{estadistica.atributos}" as="atributo">
							<tr>
								<td>
									<f:for each="{atributo.tipo}" as="tipo">
										{tipo.nombreDisplay}
									</f:for>
								</td>
								<td><f:format.html>{atributo.contenido}</f:format.html></td>
							</tr>							  
						</f:for>					 		  
					</table>

					
				</div>
				<div id="menu1" class="tab-pane fade protocolo-desagregaciones">
					<table>
					  <col width="10%"> 
						<tr>
							<th>
								<f:translate key="LLL:EXT:estadistica_unal/Resources/Private/Language/locallang_csh_tx_estadisticaunal_domain_model_atributo.xlf:desagregacion.description" />
							</th>
							<f:for each="{estadistica.tiposAtrDesagregaciones}" as="tipo">
							<th>
								{tipo.nombreDisplay}
							</th>
							</f:for>							
						</tr>		
					  	<f:for each="{estadistica.desagregaciones}" as="desagregacion">			  		
							<tr>
								<td>
									{desagregacion.nombreDisplay}
								</td>
								<!--me excuso con la persona que tenga que leer este codigo, pero fue la unica manera que pude lograr esto-->
								<f:for each="{estadistica.tiposAtrDesagregaciones}" as="aux_tipo_desagregacion">			  		
								<td>
									<f:for each="{desagregacion.atributos}" as="atributo">
										<f:for each="{atributo.tipo}" as="tipo_atributo">
											<f:if condition="({tipo_atributo.uid} == {aux_tipo_desagregacion.uid})">
											  <f:format.html>{atributo.contenido}</f:format.html>
											</f:if>
										</f:for>
									</f:for>									
								</td>
								</f:for>								
							</tr>							  
						</f:for>					 		  
					</table>
				</div>
			</div>
		</div>
	</div>
	
	
</div>

</html>
