<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Estadistica</h1>

<f:flashMessages />

<table  class="tx_estadisticaunal" >
	<tr>
		<th><f:translate key="tx_estadisticaunal_domain_model_estadistica.nombre" /></th>
		<th><f:translate key="tx_estadisticaunal_domain_model_estadistica.nombre_display" /></th>
		<th><f:translate key="tx_estadisticaunal_domain_model_estadistica.texto_protocolo" /></th>
		<th><f:translate key="tx_estadisticaunal_domain_model_estadistica.badge" /></th>
		<th><f:translate key="tx_estadisticaunal_domain_model_estadistica.alt_badge" /></th>
		<th><f:translate key="tx_estadisticaunal_domain_model_estadistica.link" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{estadisticas}" as="estadistica">
		<tr>
			<td><f:link.action action="show" arguments="{estadistica : estadistica}"> {estadistica.nombre}</f:link.action></td>
			<td><f:link.action action="show" arguments="{estadistica : estadistica}"> {estadistica.nombreDisplay}</f:link.action></td>
			<td><f:link.action action="show" arguments="{estadistica : estadistica}"> {estadistica.textoProtocolo}</f:link.action></td>
			<td><f:link.action action="show" arguments="{estadistica : estadistica}"> {estadistica.badge.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{estadistica : estadistica}"> {estadistica.altBadge.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{estadistica : estadistica}"> {estadistica.link}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{estadistica : estadistica}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{estadistica : estadistica}">Delete</f:link.action></td>
		</tr>
		</f:for>
</table>

<f:link.action action="new">New Estadistica</f:link.action>
	</f:section>
</html>