
<table class="tx-estadistica-unal" >
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_atributodesagregacion.nombre" />
		</td>
		<td>
			{atributoDesagregacion.nombre}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_atributodesagregacion.nombre_display" />
		</td>
		<td>
			{atributoDesagregacion.nombreDisplay}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_atributodesagregacion.contenido" />
		</td>
		<td>
			{atributoDesagregacion.contenido}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_atributodesagregacion.tipo" />
		</td>
		<td>
			{atributoDesagregacion.tipo}
		</td>
	</tr>
</table>