
<table class="tx-estadistica-unal" >
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_estadistica.nombre" />
		</td>
		<td>
			{estadistica.nombre}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_estadistica.nombre_display" />
		</td>
		<td>
			{estadistica.nombreDisplay}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_estadistica.texto_protocolo" />
		</td>
		<td>
			{estadistica.textoProtocolo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_estadistica.badge" />
		</td>
		<td>
			{estadistica.badge.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_estadistica.alt_badge" />
		</td>
		<td>
			{estadistica.altBadge.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_estadistica.link" />
		</td>
		<td>
			{estadistica.link}
		</td>
	</tr>
</table>