
<table class="tx-estadistica-unal" >
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_estadistica.nombre" />
		</td>
		<td>
			{estadistica.nombre}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_estadistica.descripcion" />
		</td>
		<td>
			{estadistica.descripcion}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_estadistica.total" />
		</td>
		<td>
			{estadistica.total}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_estadistica.badge" />
		</td>
		<td>
			{estadistica.badge.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_estadistica.alt_badge" />
		</td>
		<td>
			{estadistica.altBadge.originalResource.name}
		</td>
	</tr>
</table>