
<table class="tx-estadistica-unal" >
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_archivo.nombre" />
		</td>
		<td>
			{archivo.nombre}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_archivo.nombre_display" />
		</td>
		<td>
			{archivo.nombreDisplay}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_archivo.contenido" />
		</td>
		<td>
			{archivo.contenido.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_archivo.tipo" />
		</td>
		<td>
			{archivo.tipo}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_archivo.explicacion" />
		</td>
		<td>
			{archivo.explicacion}
		</td>
	</tr>
</table>