
<table class="tx-estadistica-unal" >
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_categoria.nombre" />
		</td>
		<td>
			{categoria.nombre}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_categoria.badge" />
		</td>
		<td>
			{categoria.badge.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_estadisticaunal_domain_model_categoria.alt_badge" />
		</td>
		<td>
			{categoria.altBadge.originalResource.name}
		</td>
	</tr>
</table>